[run]
branch = True
data_file = .coverage
source=learning_credentials
omit =
    compat.py
    manage.py
    test_settings.py
    */migrations/*
    */static/*
    */templates/*
    */tests/*
    */settings/*
