name: Python CI

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - '**'


jobs:
  run_tests:
    name: tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11, 3.12]
        toxenv: [quality, docs, pii_check, django42]

    steps:
      - uses: actions/checkout@v3
      - uses: jdx/mise-action@v2
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: setup graphviz
        if: matrix.toxenv == 'docs'
        uses: ts-graphviz/setup-graphviz@v1

      - name: Install Dependencies
        run: uv sync --only-group ci

      - name: Run Tests
        env:
          TOXENV: ${{ matrix.toxenv }}
        run: uv run tox

      - name: Run coverage
        if: matrix.python-version == '3.11' && matrix.toxenv == 'django42'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          fail_ci_if_error: true
